@{
    ViewBag.Title = "古驿平安-用户反馈";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}
@using RefactorVideoSystem.Models.Models;
@model GoodVideoSystem.Models.Concrete.Paging

<style>
    #searchType {
        height: 42px;
        margin-left: 5px;
    }

    #searchButton {
        margin-left: 5px;
        background-color: #373B3E;
        border-color: #2C343A;
        color: white;
    }

    #headTitle th {
        font-family: 'Microsoft YaHei';
        font-size: 14px;
        color: black;
        font-weight: 500;
    }

    .pagination li a {
        color: black;
    }
</style>

<div class="col-lg-9 col-lg-offset-2 main" style="margin-left: 290px;">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@Url.Content("~/Qhgypacz/BackMain/")"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">用户反馈</li>
        </ol>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">用户反馈</div>
                <div class="panel-body">
                    <form role="form" action="@Url.Content("~/Search")" method="get">
                        <input type="hidden" name="model" value="Suggest" />
                        <table>
                            <tr>
                                <td id="searchValue">
                                    <input type="text" class="form-control" name="searchValue" placeholder="请输入反馈内容" style="width: 200px;" />
                                </td>
                                <td>
                                    <select class="form-control" style="width: 120px;" id="searchType" name="searchType">
                                        <option value="suggestValue" selected>按内容</option>
                                        <option value="phone">按电话</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default" id="searchButton">搜索</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <table class="table table-bordered table-hover class" style="margin-top: 10px;">
                        <thead>
                            <tr id="headTitle">
                                <th style="width:100px">编号</th>
                                <th style="width:120px">用户电话</th>
                                <th>反馈内容</th>
                                <th style="width:150px">留言时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int suggestSeq = Model.every_page_items * (Model.request_page - 1) + 1;}
                            @foreach (Suggest s in Model.returnData)
                            { 
                                <tr>
                                    <td>@suggestSeq</td>
                                    <td>@s.UserPhone</td>
                                    <td>@s.Text</td>
                                    <td>@s.CreateTime</td>
                                </tr>
                                suggestSeq++;
                            }
                        </tbody>
                    </table>

                    @{
                        int prePageId = (Model.request_page > 1) ? Model.request_page - 1 : 1;
                        int nextPageId = (Model.request_page < Model.total_pages) ? Model.request_page + 1 : Model.total_pages;
                    }

                    <div style="text-align: center">
                        <ul class="pagination">
                            <li><a href="@ViewBag.searchAction">首页</a></li>
                            <li><a href="@ViewBag.searchAction@prePageId">&laquo;</a></li>
                            @for (int i = Model.start_page_num; i <= Model.end_page_num; i++)
                            {
                                <li><a id="@i" href="@ViewBag.searchAction@i">@i</a></li>
                            }
                            <li><a href="@ViewBag.searchAction@nextPageId">&raquo;</a></li>
                            <li><a href="@ViewBag.searchAction@Model.total_pages">末页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery("#searchType").on("change", function () {
        var searchType = this.value;
        var searchValue = jQuery("#searchValue");
        var placeholder = "";

        if (searchType == "phone") {
            placeholder = "请输入用户电话";
        }
        if (searchType == "suggestValue") {
            placeholder = "请输入反馈部分内容";
        }
        searchValue.html("<input type='text' class='form-control' name='searchValue' style='width: 200px;' placeholder=" + placeholder + " required/>");
    });

    //查看全部信息
    function getAllSuggest(suggestText) {
        $.jBox.info(suggestText, '用户反馈');
    }
</script>