@{
    ViewBag.Title = "古驿平安-编辑产品";
}

<link rel="stylesheet" type="text/css" href="~/Resources/Plugin/WebUploader/webuploader.css">

<script type="text/javascript" src="~/Resources/Plugin/WebUploader/webuploader.js"></script>
<script type="text/javascript" src="~/Resources/Plugin/WebUploader/MyUpload.js"></script>

@using RefactorVideoSystem.Models.Models;
@model RefactorVideoSystem.Models.Models.Product


<form role="form" style="width:600px;margin:auto;" id="uploadForm" action="@Url.Action("EditProduct","Product")" method="post">
                            <table class="uploadTable">
                                <tr>
                                    <td class="ut_title">
                                        <label class=" control-label">产品名称</label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="ProductName" name="ProductName" value="@Model.Name" required>
                                        <input type="hidden" name="ProductID" value="@Model.ProductId"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ut_title">
                                        <label class=" control-label">产品价格</label>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="ProductPrice" name="ProductPrice" value="@Model.Price" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ut_title">
                                        <label class=" control-label">产品链接</label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="ProductUrl" name="ProductUrl" value="@Model.Url" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ut_title">
                                        <label class=" control-label">产品图片</label>
                                    </td>
                                    <td>
                                        <input type="hidden" class="form-control" id="ImageUrl" name="ProductImg" value="@Model.Img">
                                        <div id="uploader-demo">
                                            <!--用来存放item-->
                                            <div id="thelist" class="uploader-list"></div>
                                            <div id="picker">选择图片</div>
                                        </div>
                                    </td>
                                </tr>
                                
                            </table>

                            <div style="text-align:center;margin-top:20px;">
                                    <button type="submit" id="" class="btn btn-primary">确定</button>
                            </div>
                    </form>