@{
    ViewBag.Title = "古驿平安-信息设置";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}
@model RefactorVideoSystem.Models.Models.Manager

<style>
    #editInfo {
        width: 100px;
        background-color: #373B3E;
        border-color: #2C343A;
        color: white;
    }
</style>

<div class="main" style="margin-left: 290px; width: 80%">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@Url.Content("~/Qhgypacz/BackMain/")"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">信息</li>
        </ol>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">信息</div>
                <div class="panel-body">
                    <form role="form" action="@Url.Content("~/Settings/EditInfo")" method="post">
                        <table style="width: 90%; margin: auto; font-size: 1.5em;" class="table table-bordered">
                            <tr>
                                <td>账号：</td>
                                <td>@Model.Account</td>
                            </tr>
                            <tr>
                                <td>邮箱：</td>
                                <td>
                                    <input type="text" class="form-control" id="email" name="email" value="@Model.Email" onblur="checkEmail();" required>
                                </td>
                            </tr>
                            <tr>
                                <td>手机：</td>
                                <td>
                                    <input type="text" class="form-control" id="phone" name="phone" value="@Model.Phone" onblur="checkPhone();" required>
                                </td>
                            </tr>
                        </table>
                        <div style="text-align: center; margin-top: 20px;">
                            <button type="submit" class="btn btn-default" id="editInfo" onclick="editInfo();">编辑</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
