<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Resources/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="shortcut icon" href="@Url.Content("~/Resources/img/logo.ico")" />
    <link href="~/Resources/Plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Resources/css/styles.css" rel="stylesheet" />  
    <link href="~/Resources/css/app.css" rel="stylesheet"/>

    <script src="~/Resources/js/common/jquery-1.8.2.js"></script>
    <script src="~/Resources/Plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Resources/js/custom/Utils.js"></script>
    <script src="~/Resources/js/common/JQuery.md5.js"></script>
    <script type="text/javascript" src="~/Resources/Plugin/jBox/jquery.jBox-2.2.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Resources/Plugin/jBox/Skins/Gray/jbox.css"/>

    <!--[if lt IE 9]>
    <script src="~/Scripts/html5shiv.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    <style>
        .btn-primary,
        .btn-primary:hover{
            background-color: #373B3E;
            border-color: #2C343A;
        }

        li a .glyphicon-home {
             color: #2C343A;
        }

        li.parent a:hover,
        li.parent a:focus {
            color:black;
        }

        #manageUser:hover,
        #manageUser:focus {
            color:white;
        }

        ul li a,
        ul li a:hover,
        ul li a:focus,
        ul li:hover,
        li:hover{
            color:black;
        }

    </style>
</head>
<body>

    <!--顶部黑框 -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand" style="font-family:'Microsoft YaHei'; font-size:18px">古驿平安视频系统管理后台</span>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" id="manageUser" data-toggle="dropdown"><span  style="font-family:'Microsoft YaHei'">欢迎您，</span>@ViewBag.account<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Content("~/Settings")"><span class="glyphicon glyphicon-user"></span> 信息</a></li>
							<li><a href="@Url.Content("~/Settings/ModifyPassPage")"><span class="glyphicon glyphicon-cog"></span> 修改密码</a></li>
                            <li><a href="@Url.Content("~/Qhgypacz/Logout")"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>

    <!--左侧菜单栏 -->
    <div id="sidebar-collapse" class="sidebar collapsein" style="width:250px;">
			<div class="form-group" style="text-align:center;padding-top:10px;">
                <img src="~/Resources/img/manager2.png" style="width:100px;height:100px;border-radius:50px;"/>
                <p style="color:black;margin-top:10px;margin-bottom:0;">欢迎您，@ViewBag.account</p>
			</div>
        <hr style="border-color:#2C343A" />
		<ul class="nav menu">
			<li class="parent"><a href="@Url.Content("~/Qhgypacz/BackMain/")"><span class="glyphicon glyphicon-home"></span> 首页</a></li>

            <li class="parent ">
				<a data-toggle="collapse" href="#video" id="test">
					<span class="glyphicon glyphicon-film"></span> 视频管理 <span class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="video">
					<li>
						<a href="@Url.Content("~/VideoManager/")">
							<span class="glyphicon glyphicon-list"></span> 视频列表
						</a>
					</li>
					@*<li>
						<a href="@Url.Content("~/VideoManager/UploadPage")">
							<span class="glyphicon glyphicon-cloud-upload"></span> 上传视频
						</a>
					</li>*@
				</ul>
			</li>
            <li class="parent ">
				<a data-toggle="collapse" href="#product">
					<span class="glyphicon glyphicon-qrcode"></span> 产品管理 <span class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="product">
					<li>
						<a href="@Url.Content("~/Product/")">
							<span class="glyphicon glyphicon-list"></span> 产品列表
						</a>
					</li>
					<li>
						<a href="@Url.Content("~/Product/AddProductPage")">
							<span class="glyphicon glyphicon-plus"></span> 添加产品
						</a>
					</li>
				</ul>
			</li>


            <li class="parent ">
				<a data-toggle="collapse" href="#user">
					<span class="glyphicon glyphicon-user"></span> 用户管理 <span  class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="user">
					<li>
						<a href="@Url.Content("~/UserManager/")">
							<span class="glyphicon glyphicon-list"></span> 用户列表
						</a>
					</li>
					<li>
						<a href="@Url.Content("~/UserManager/UserSuggestsPage")">
							<span class="glyphicon glyphicon-pencil"></span> 用户反馈
						</a>
					</li>
				</ul>
			</li>
            

            <li class="parent ">
				<a data-toggle="collapse" href="#settings">
					<span class="glyphicon glyphicon-cog"></span> 设置 <span  class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="settings">
					<li>
						<a href="@Url.Content("~/Settings/")">
							<span class="glyphicon glyphicon-info-sign"></span> 信息
						</a>
					</li>
					<li>
						<a href="@Url.Content("~/Settings/ModifyPassPage")">
							<span class="glyphicon glyphicon glyphicon-edit"></span> 修改密码
						</a>
					</li>
				</ul>
			</li>
			
		</ul>
		
	</div>

    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
